.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="file"],
button {
  margin-bottom: 10px;
}

#upload-form {
  display: none;
}
